{% extends "../base.html" %}

{% block title %}
  {{ site.name }}
{% end %}

{% block header %}
  {% include '../home/header.html' %}
{% end %}

{% block body %}
  {% if is_admin %}
    {% set editabletext = 'editabletext' %}
  {% else %}
    {% set editabletext = '' %}
{% end %}

<section>
  <div class="clearfix" style="height: 150px"></div>
  <div class="container cont-politica">
    <div class="titulo-politica {{editabletext}}" text-id="{{ site.name + '_preguntas_frecuentes' }}">
      {{ read_text(site.name +  '_preguntas_frecuentes') }}
    </div>
  </div>

  <div class="container cont-politica cont-politica-2">
    <div class="desc-politica {{editabletext}}" text-id="{{ site.name + '_preguntas_frecuentes_2' }}">
      {{ read_text(site.name +  '_preguntas_frecuentes_2') }}
    </div>
  </div>
</section>




{% include '../home/footer.html' %}

{% end %}
